// import scss variables
@import "./variables.scss";

// styles for masonry post on home and all projects page
// they style the posts snippets that appear on the home page and all prject page
.masonry-item-post {
  position: relative;
  width: (100% / 3);
  text-align: left;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem 3.5rem 1.5rem;
  display: inline-block;

  @media screen and (max-width: $break-smalldesktop) {
    width: (100% / 2);
  }

  @media screen and (max-width: $break-large) {
    width: 100%;
    padding-bottom: 0rem;
    margin-bottom: 0.5rem;
  }
  .masonry-item-link {
    @media screen and (max-width: $break-large) {
      height: 300px !important;
      width: 280px !important;
      display: inline-block;
    }
  }

  .code {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-top: 0.15rem;
    margin-right: 0.5rem;
  }

  .svg-inline--fa {
    width: 1rem !important;
    height: 1rem !important;
  }
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      color: $turq;
      text-decoration: none;
      z-index: 5;
    }
  }

  .container-codelist {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    position: relative;
  }

  .maincode {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $lightgrey;
    z-index: 20;
    width: 100%;
    font-weight: 500;
    font-family: Inter-italic, serif;
    font-size: 1.35rem;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    &:hover {
      z-index: 2;
      transform: scale(1.2);
      transition: transform 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      @media screen and (max-width: $break-large) {
        height: 300px !important;
        width: 280px !important;
      }
    }
  }

  .highlight-categories {
    border-radius: 0.2rem;
    color: $black;
    margin: 0.15rem 0 0 0;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.3rem;
    display: block;
    background-color: $turqlight;
    display: inline-block;
  }
  // Lead image for articles  //
  .image-bloglead {
    position: relative;
  }

  .img-wrapper {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    @media screen and (max-width: $break-large) {
      height: 300px !important;
      width: 280px !important;
    }
  }
}
