@import "./variables.scss";
// View individual post page //

.container-allpost-content {
  position: relative;
  z-index: 500;
  padding: 0 1.5rem 6rem 1.5rem;
}
//
.lead-postimage {
  width: 100% !important;
  margin-bottom: 1.5rem;

  img {
    width: 100% !important;
  }
}

.categoriespost {
  background-color: $turqlight;
  margin-bottom: 1rem;
  padding: 0.1rem 0.8rem;
  border-radius: 0.3rem;
  color: $black;
  display: inline-block;
  font-size: 1.15rem;
}

.container.text-content {
  p {
    &:first-of-type {
      font-size: 1.05rem;
      font-family: "Inter", sans-serif;
      color: $black;
    }
  }
  ul {
    margin-left: 2rem;
    li {
      line-height: 1.5;
    }
  }
  h3 {
    border: 0;
    color: $black;
  }
  a {
    color: $turq;
    font-weight: 900;
  }
}

.link-highlight {
  color: $black;
  padding-left: 0.25rem;
  display: block;
  margin-top: 0.15rem;
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 1rem;
  position: relative;
  z-index: 5;
}

.link-highlight.home {
  color: #343434;
  text-decoration: none;
}

// Highlight modified from here
// https://codepen.io/wethrift/pen/MVdbQR

.link-highlight:before {
  content: "";
  position: absolute;
  background: $turqlight;
  bottom: 0;
  left: 10px;
  right: 0;
  top: 100%;
  word-wrap: break-word;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
  transition: top 0.09s ease-in;
  width: auto;
}

.link-highlight:hover:before {
  top: 0;
  box-shadow: 5px 0 0 $turqlight, -10px 0 0 $turqlight;
}
.link-highlight:hover {
  color: $black;
  z-index: 2;
}
.container-arrow-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

.container-arrow-link.home {
  margin-bottom: 0rem;
}
