@import './variables.scss';
// View individual post page //

.container-allpost-content{
    position: relative;
    z-index: 500;
    padding-bottom: 7rem;
  }
  
  .lead-postimage {
    width: 100% !important;
    margin-bottom: 1.5rem;
    img {
      width: 100% !important;
  
    }
   
  }
  
  .categoriespost {
    background-color: $turqlight;
    margin-bottom: 1rem;
    padding: 0.1rem 0.8rem;
    border-radius: 0.3rem;
    color: $black;
    display: inline-block;
    font-size: 1.2rem;
  }
  
  .container.text-content {
    p:first-of-type {
      font-size: 1.25rem;
    }
  }

  .link-highlight {
    color: $black;
    font-weight: 900;
    padding-left: .25rem;
    display: block;
    margin-top: .15rem;
  }
  
  .container-arrow-link{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 1rem;
   }
  
   .container-arrow-link i {
     font-weight: 900;
     font-size: 1rem;
     margin-top: .15rem;
  }