@import "./variables.scss";
// View individual post page //

.container-allpost-content {
  position: relative;
  z-index: 500;
  padding: 0 1.5rem 6rem 1.5rem;
}

.lead-postimage {
  width: 100% !important;
  margin-bottom: 1.5rem;

  img {
    width: 100% !important;
  }
}

.categoriespost {
  background-color: $turqlight;
  margin-bottom: 1rem;
  padding: 0.1rem 0.8rem;
  border-radius: 0.3rem;
  color: $black;
  display: inline-block;
  font-size: 1.15rem;
}

.container.text-content {
  p {
    &:first-of-type {
      font-size: 1.15rem;
      font-family: "Inter", sans-serif;
    }
  }
  ul {
    margin-left: 2rem;
    li {
      line-height: 1.7;
    }
  }
  h3 {
    border: 0;
    color: $black;
  }
  a {
    color: $turq;
    font-weight: 900;
  }
}

.wp-block-quote {
  border-left: 10px solid $turqlight;
  padding: 0 1.5rem;
  margin: 1rem 0;
  p {
    &:first-of-type {
      font-size: 1rem !important;
      font-family: "Inter-regular", sans-serif !important;
      margin-top: 0.5rem;
    }
  }
}

.link-highlight {
  color: $black;
  font-family: "Inter", serif;
  padding-left: 0.25rem;
  display: block;
  margin-top: 0.15rem;
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
}

.link-highlight:before {
  content: "";
  position: absolute;
  background: $turqlight;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
  transition: top 0.09s ease-in;
  width: auto;
}

.link-highlight:hover:before {
  top: 0;
}

.container-arrow-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 1rem;
}

.container-arrow-link i {
  font-weight: 900;
  font-size: 1rem;
  margin-top: 0.15rem;
}
