$break-small: 768px;
$break-tablet: 769px;
$break-large: 1024px;
$turq: #1c9195;
$turqlight: #bce2e2;
$black: #1a1a1a;

.sidedrawer {
  height: 100vh;
  background-color: #a8a8a8;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0;

  z-index: 1000;
  width: 100%;
  transition-duration: 0.25s;
   top: -200%;
}
.sidedrawer.open {
  top: 0%;
  @media screen and (min-width: $break-small) {
    display: none;
  }
}

.sidedrawer ul {
  list-style: none;
  margin-top: 8rem;
  margin-left: 2rem;
}

.sidedrawer a {
  color: $black;
  text-decoration: none;
  font-size: 1.3rem;
  padding-bottom:.8rem;
  display: block;

  &:hover {
    color: $turq;
  }
}
