@import './variables.scss';


// All Toolbar styles
.toolbar {
    width: 30%;
   
    background: #ededed;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   

    @media (min-width: $break-large){
      min-width: 23rem;
    }
  }
  
  .toolbar__navigation {
    display: flex;
    align-items: baseline;
  
    flex-direction: column;
  }
  
  .toolbar__logo {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    display: inline-block;
  }
  
  .toolbar__logo a {
    color: #1a1a1a;
    text-decoration: none;
  
    display: inline-block;
  }
  
  .toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    font-weight: 500;
    // display: inline-block;
    border-bottom: 1px solid $black;
   

    @media(max-width: $break-smalldesktop){
     flex-direction: column;
    }
  }
  
  .toolbar_navigation-items li {
    padding: 0 0.5rem 0 0;
    margin-bottom: .35rem;
    
  }
  
  .toolbar_navigation-items a {
    color: #1a1a1a;
    text-decoration: none;
   
    font-size: 1.1rem;
  }
  
  .toolbar_navigation-items a:hover,
  .toolbar_navigation-items a:active {
    color: $turq;
  }
  
  @media screen and (max-width: $break-tablet) {
    .toolbar_navigation-items {
      display: none;
    }
    .toolbar {
      width: 100%;
      border-bottom: 1px solid #ddd;
    }
    .toolbar__navigation {
      flex-direction: column;
    }
  
    .toolbar__logo {
      margin: 1rem 0;
      height: auto;
    }
    .toolbar__logo h1 {
      margin: 0;
    }
  }
  
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .nav-icons ul{
    list-style: none;
    margin-top: 2rem;
    li{
      display: inline-block;
      padding-right: .7rem;
    }
  }

  
  
  @media (min-width: $break-tablet) {
    .toolbar__toggle-button {
      display: none;
    }
  
    .toolbar__logo {
      margin-left: 0;
    }
  }
  
  @media (max-width: $break-small){
    .toolbar {
    
      position: fixed;
      top: 0;
      left: 0;
      height: 4rem;
      z-index: 1000;
      margin-bottom: 5rem;
    }
    .toolbar-intro{
      display: none;
    }
  }
.iconl{
  opacity: .85;
}
  .iconl.github{ width: 37px; height: 37px;
    padding: .2rem;
    border-radius: 50%;
    border: 1px solid $black}
  .iconl.codepen{ width: 37px; height: 37px;
    padding: .2rem;
    border-radius: 50%;
    border: 1px solid $black}
  @media (max-width: $break-small){
  .nav-icons{
    display: none;
  }

  }