$break-small: 768px;
$break-tablet: 769px;
$break-large: 1024px;
$break-smalldesktop: 1279.99px;

// Colour variables
$turq: #008489;
$turqlight: #bce2e2;
$black: #343434;
$darkgrey: #2e2e2e;
$grey: #ccc6c6;
$lightgrey: #f7f6f2;
