$break-small: 768px;
$break-tablet: 769px;
$break-large: 1024px;
$mainred: #da0e19;
$turq: #1c9195;
$black: #1a1a1a;

.toolbar {
  width: 25%;
  min-width: 15rem;
  background: #ededed;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.toolbar__navigation {
  display: flex;
  align-items: baseline;

  flex-direction: column;
}

.toolbar__logo {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  display: inline-block;
}

.toolbar__logo a {
  color: #1a1a1a;
  text-decoration: none;

  display: inline-block;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items a {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 1.1rem;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: $turq;
}

@media screen and (max-width: $break-tablet) {
  .toolbar_navigation-items {
    display: none;
  }
  .toolbar {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  .toolbar__navigation {
    flex-direction: column;
  }

  .toolbar__logo {
    margin: 1rem 0;
    height: auto;
  }
  .toolbar__logo h1 {
    margin: 0;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (min-width: $break-tablet) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 0;
  }
}
