.toolbar {
 
    width: 18rem;
    background: #ededed;
    
    display: flex;
    flex-direction: column;
  }
  
  .toolbar__navigation {
    display: flex;

    align-items: baseline;
    padding: 0 1rem;
    flex-direction: column;
  }
  
  .toolbar__logo {
    margin-left: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  
  .toolbar__logo a {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 1.5rem;
    
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  .toolbar_navigation-items li {
    padding: 0 0.5rem;
  }
  
  .toolbar_navigation-items a {
    color:#1a1a1a;
    text-decoration: none;
  }
  
  .toolbar_navigation-items a:hover,
  .toolbar_navigation-items a:active {
    color: #fa923f;
  }
  
  @media (max-width: 768px) {
    .toolbar_navigation-items {
      display: none;
    }
    .toolbar{
        width: 100%;
    }
    .toolbar__navigation{
        flex-direction: column;
    }
    .toolbar_navigation-items ul{
        flex-direction: column;
    }
  }
  
  @media (min-width: 769px) {
    .toolbar__toggle-button {
      display: none;
    }
  
    .toolbar__logo {
      margin-left: 0;
    }
  }
  