.toggle-button {
    height: 24px;
    width: 24px;
    background:transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    margin-top: 2rem;
}

.toggle-button:focus{
    outline: none;
    cursor: pointer;

}

.toggle-button__line{
    width: 24px;
    height: 4px;
   
    background-color: #1a1a1a;
    border-radius: .2rem;

}