$break-small: 768px;
$break-tablet: 769px;
$break-large: 1024px;
$mainred: #da0e19;
$turq: #1c9195;
$turqlight: #bce2e2;
$black: #1a1a1a;

.sidedrawer {
  height: 70vh;
  background-color: #a8a8a8;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0;

  z-index: 200;
  width: 100%;
  transition-duration: 0.3s;
  transform: translateY(-110%);
}
.sidedrawer.open {
  transform: translateY(0%);
  @media screen and (min-width: $break-small) {
    display: none;
  }
}

.sidedrawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  margin-left: 4rem;
}

.sidedrawer a {
  color: $black;
  text-decoration: none;
  font-size: 1.6rem;
}
