// scss variables
$break-small: 768px;
$break-tablet: 769px;
$break-large: 1024px;
$mainred: #da0e19;
$turq: #1c9195;
$black: #1a1a1a;

// import fonts
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro");

// browser reset
* {
  margin: 0;
  padding: 0;
}

// display all html5 elements as blocks
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

html {
  font-size: 112.5%;
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
}

p {
  padding: 0;
  margin: 0 0 1.45rem 0;
  font-weight: 500;
  line-height: 1.7rem;
  font-size: 1.05rem;
  font-family: "Source San Pro", helvetica, sans-serif;
}

h1 {
  font-family: "Playfair display", serif;
  text-rendering: geometricPrecision;
}
h2,
h3,
h4 {
  font-family: "Playfair display", serif;
  text-rendering: geometricPrecision;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin: 2rem 0;
  color: $black;
  display: block;
  border-bottom: 3px solid $turq;
  width: 90%;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  position: relative;
}

.svg-inline--fa {
  width: 1rem !important;
  height: 1rem !important;
}

.content {
  width: 100%;
  background-color: #ffffff;
}

header {
  width: 15rem;
}
// Main container for all content
.maincontent {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: space-around;

  @media screen and (max-width: $break-small) {
    flex-direction: column;
  }
}

// right container for main content
.right-container {
  flex: 1;
  margin: 2rem auto 0 auto;
  padding: 0 2rem;
  border: 1px red;

  @media screen and (max-width: $break-tablet) {
    flex: 0;
    width: 100%;
  }
}

.flex-main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 1rem;
  min-height: 100vh;
  border: 1px red;

  @media screen and (max-width: $break-tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.homepost {
  position: relative;
  width: 280px;
  background-color: white;
  display: inline-block;
  text-align: left;
  margin-bottom: 2rem;

  a {
    color: #1a1a1a;
    text-decoration: none;

    h3 {
      border-bottom: 1px solid #1a1a1a;
      margin-bottom: 0.7rem;
      padding-bottom: 0.3rem;
      margin-top: 1.25rem;
      margin-bottom: 0;
      text-decoration: none;
      font-size: 1.3rem;

      &:hover {
        color: $turq;
        text-decoration: underline;
      }
    }
  }

  .excerpt {
    border-bottom: 1px dotted $turq;
  }

  .code {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-top: 0.15rem;
    margin-right: 0.5rem;
  }
  .codelist {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0.95rem;
    // align-content: flex-end;
  }

  @media screen and (max-width: $break-large) {
    width: 200px;
  }

  @media screen and (max-width: $break-small) {
    width: 400px;
  }

  .categories {
    border-radius: 0.2rem;
    color: #1c9195;
    font-weight: 900;
    margin: 0.4rem 0 0 0;
    font-size: 0.9rem;
    line-height: 1.1rem;
    padding: 0rem 0.2rem;
    display: block;
    z-index: 5;
    // font-family: 'Ralewayb', serif;
  }
}

// Image lead css
.bloglead {
  position: relative;
  z-index: 2;
  background-color: $turq;

  // hover image
  &:hover {
    transition: 0.5s;
    opacity: 0.5;
    z-index: 0;
    color: $turq;

    // hover image magnifying glass
    &:before {
      width: 100%;
      height: 100%;
      background-color: $turq;

      opacity: 0.5;
    }
  }
  // Media queries for .bloglead - this controls image size
  @media screen and (min-width: $break-tablet) and (max-width: $break-large) {
    width: 200px;
  }
  @media screen and (max-width: $break-small) {
    width: 400px;
    height: 400px;
  }
}

.allpost {
  width: 450px;
  background-color: white;
  display: inline-block;
  text-align: left;
  margin-bottom: 2rem;

  h1 {
    color: #484848;
  }

  h3 {
    padding: 0.4rem 0rem;
    margin-bottom: 0;
    color: #484848;
  }
}

.posts {
  width: 100%;

  display: block;
  text-align: center;
}

.post {
  width: 15rem;
  margin: 3rem;
}

header {
  @media screen and (max-width: $break-small) {
    width: 100%;
    margin-right: auto;
  }
}

.mainnav {
  li {
    display: block;

    a {
      text-decoration: none;
      color: $black;

      @media screen and (max-width: $break-small) {
        display: none;
        margin-right: auto;
      }

      &:hover {
        color: blue;
      }
    }
  }
}

.mobileheader {
  @media screen and (max-width: $break-small) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.lead-postimage {
  width: 100% !important;
  margin-bottom: 2rem;
  img {
    width: 100% !important;
    height: auto !important;
  }
}

.categoriespost {
  background-color: $turq;
  padding: 0.1rem 0.8rem;
  border-radius: 0.3rem;
  color: white;
  display: inline-block;
  font-size: 0.8rem;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Source Sans Pro";
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: calc(1.45rem / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.45rem / 2);
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
